// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  padding-top: 50px;
  margin: 0;
  border: 0;
}

html{
	margin: 0 auto;
}
.starter-template {
  text-align: center;
}



